.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100000;
  }
  
  .modal-body {
    margin: 10% auto;
    width: fit-content;
    animation: fade-in 0.10s ease-in-out;
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
      transform: translateX(60%);
    }
    100% {
      opacity: 1;
    }
  }
  